  <div class="section__contact" id="Kontakt">
    <div class="row">
      {% assign heading = site.data.nav.navItems | where: "ref", "contact" %}
      <h2 class="section__heading section__heading--press">{{ heading[0].title[page.lang] }}</h2>
    </div>
    <div class="row content__contact">
      <div class="contact-form-text">

        {% assign contacts = site.contact | where: "lang", page.lang %}

        {% for contact in contacts %}

          {{ contact.content }}

        {% endfor %}

      </div>
      <div class="contact-form-form">
        <!-- Option 1 über Form von 99inbound -->

        <!-- Option 2  über End Point bei 99inbound, die ohne Cookies und besser! aber deutlich mehr spam! -->

      </div> <!-- end col-6 mit form -->
    </div> <!-- end row -->
  </div> <!-- end section__contact -->
