  <div class="section__contact" id="Kontakt">
    <div class="row">
      {% assign heading = site.data.nav.navItems | where: "ref", "contact" %}
      <h2 class="section__heading section__heading--press">{{ heading[0].title[page.lang] }}</h2>
    </div>
    <div class="row content__contact">
      <div class="contact-form-text">

        {% assign contacts = site.contact | where: "lang", page.lang %}

        {% for contact in contacts %}

          {{ contact.content }}

        {% endfor %}

      </div>
      <div class="contact-form-form">
        <!-- Option 1 über Form von 99inbound -->
        <!-- <div class="inbound-form-wrapper" id="form_869" data-path="https://app.99inbound.com/i/f8b73b96-aa9b-436a-bd71-a62bcc68f7bc" data-token="8NJ3d56ol0lQGH5wGnBFlwtt"></div> -->

        <!-- Option 2  über End Point bei 99inbound, die ohne Cookies und besser! -->
        <!-- <form class="contact-form" id="id-contact-form" method="POST" action="https://app.99inbound.com/api/e/PIykkHQB">
          <input class="contact-form-input__text" placeholder="Name" form="id-contact-form" type="text" name="full_name">
          <input class="contact-form-input__text" placeholder="E-Mail" form="id-contact-form" type="email" name="__replyto">
          <textarea class="contact-form-input__textarea" placeholder="Anfrage" form="id-contact-form" type="text" name="message"></textarea>

          <input class="contact-form-input__submit" type="submit" value="Senden">
        </form> -->
      </div> <!-- end col-6 mit form -->
    </div> <!-- end row -->
  </div> <!-- end section__contact -->
