<footer>
  <div class="section__footer">
    <div class="row content__footer">

      <div class="col-4 footer-list__container">
        {% assign heading = site.data.nav.navItems | where: "ref", "projects" %}
        <h6 class="footer-list-title">{{ heading[0].title[page.lang] }}</h6>
        <ul class="footer-list">
          {% assign projects = site.projects | where: "lang", page.lang | sort: "year" | reverse %}

          {% for project in projects %}

          <li class="footer-list-item"><a href="{{ project.url | relative_url  }}">{{ project.title }}</a></li>

          {% endfor %}

        </ul>
      </div>

      <div class="col-4 footer-list__container">
        {% assign heading = site.data.nav.navItems | where: "ref", "members" %}
        <h6 class="footer-list-title">{{ heading[0].title[page.lang] }}</h6>
        <ul class="footer-list">
          {% assign members = site.members | where: "lang", page.lang %}

          {% for member in members %}

          <li class="footer-list-item"><a href="{{ site.url }}/{{ page.lang }}/team#{{ member.title | replace:' ', '-' }}">{{ member.title }}</a></li>

          {% endfor %}

        </ul>
      </div>
      <div class="col-4 footer-list__container">
        <ul class="footer-list__lastitems">
          <li class="footer-list-item"><a href="{{site.url}}/{% if page.lang == "fr" %}fr{% else %}de{% endif %}/privacy/">{% if page.lang == "fr" %}FR Datenschutz{% else %}Datenschutz{% endif %}</a></li>
          <li class="footer-list-item"><a href="{{site.url}}/{% if page.lang == "fr" %}fr{% else %}de{% endif %}/imprint/">{% if page.lang == "fr" %}FR Impressum{% else %}Impressum{% endif %}</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-copyright-link">
      <h6><a href="#">nach oben</a></h6>
      <h6><a href="{{ site.url }}/{% if page.lang == "fr" %}fr/{% else %}de/{% endif %}">&copy mikro-kit {{ "now" | date: "%Y"}}</a></h6>
    </div>
  </div>
</footer>
