<header>
  <div class="content__header">
    <div class="header__logo">
      <div class="js-menu-show"><i class="material-icons drawer__button-menu">menu</i></div>

      <!-- <div class="js-menu-show header__menu-btn"></div> -->
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <nav class="header__menu-top">
      <a href="#Projekte" class="header__menu-item header__menu-item--selected">projekte</a>
      <a href="#Team" class="header__menu-item">team</a>
      <a href="#Presse" class="header__menu-item">presse</a>
      <a href="#Kontakt" class="header__menu-item">kontakt</a>
      <div class="header__switch-lang-btn"><span class="header__switch-lang-span--active">D</span> <span class="header__switch-lang-span">F</span></div>
    </nav>
  </div>
</header>
<aside class="js-side-drawer drawer">
  <!-- <div class="drawer__title">mikro-kit</div> -->
  <nav class="drawer__container">
    <div class="drawer__logo">
      <div class="js-menu-hide"><i class="material-icons drawer__button-close">close</i></div>
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <a href="#" class="drawer__menu-item drawer__menu-item--selected">projekte</a>
    <a href="#" class="drawer__menu-item">team</a>
    <a href="#" class="drawer__menu-item">presse</a>
    <a href="#" class="drawer__menu-item">kontakt</a>
  </nav>
</aside>
