<header>
  <div class="content__header">
    <div class="header__logo">
      <div class="js-menu-show"><i class="material-icons drawer__button-menu">menu</i></div>
      <a class="site-title" href="{{ site.url }}/{% if page.lang == "fr" %}fr/{% else %}de/{% endif %}">{{ site.title | escape }}</a>
    </div>
    <nav class="header__menu-top">

      {% for item in site.data.nav.navItems %}
        <a href="{{site.url}}/{% if page.lang == "fr" %}fr{% else %}de{% endif %}{{ item.top-url }}" class="header__menu-item">{{ item.title[page.lang] | downcase }}</a>
      {% endfor %}

      <div class="header__switch-lang-btn">
        {% assign references = site.documents | where:"ref", page.ref | sort: 'lang' %}
        {% for reference in references %}
          <a href="{{ reference.url }}" class="header__switch-lang-span {% if reference.lang == page.lang %}header__switch-lang-span--active{% endif %}">{% if forloop.first %}D{% else %}F{% endif %}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
<aside class="js-drawer drawer">
  <!-- <div class="drawer__title">mikro-kit</div> -->
  <nav class="js-drawer-container drawer__container">
    <div class="drawer__logo">
      <div class="js-menu-hide"><i class="material-icons drawer__button-close">close</i></div>
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <div class="drawer__content">

      {% for item in site.data.nav.navItems %}
        {% case item.ref %}
        {% when 'projects' %}
          {% assign array = page.url | split:"/" %}
          <a href="/{{ page.lang }}{{ item.side-url }}" class="drawer__menu-item {% if array contains 'projects' %}drawer__menu-item--active{% endif %}">{{ item.title[page.lang] | downcase }}</a>
          {% assign projects = site.projects | where: "lang", page.lang | sort: "year" | reverse %}
          {% for project in projects %}
            <a href="{{ project.url | relative_url }}" class="drawer__submenu-item {% if project.url == page.url %}drawer__menu-item--active{% endif %}">{{ project.title }}</a>
          {% endfor %}
          {% continue %}

        {% when 'members' %}
          <a href="/{{ page.lang }}{{ item.side-url }}" class="drawer__menu-item {% if array contains 'team' %}drawer__menu-item--active{% endif %}">{{ item.title[page.lang] | downcase }}</a>
          {% assign members = site.members | where: "lang", page.lang %}
          {% for member in members %}
            <a href="/{{ page.lang }}/team/#{{ member.title | replace:' ', '-' }}" class="drawer__submenu-item">{{ member.title }}</a>
          {% endfor %}
          {% continue %}
        {% endcase %}

        <a href="{{ item.side-url }}" class="drawer__menu-item" data-page="{{page.url}}">{{ item.title[page.lang] | downcase }}</a>
      {% endfor %}
    </div>
  </nav>
</aside>
