<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | escape }}{% if page.title %}{{ page.title | escape | prepend:' | '  }}{% endif %}</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="{{ "/assets/manifest.json" | relative_url }}">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ site.title | escape }}">
  <link rel="icon" sizes="192x192" href="{{ "/assets/images/touch/chrome-touch-icon-192x192.png" | relative_url}}">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ site.title | escape }}">
  <link rel="apple-touch-icon" href="{{ "/assets/images/touch/apple-touch-icon.png" | relative_url }}">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ "/assets/images/touch/ms-touch-icon-144x144-precomposed.png" | relative_url }}">
  <meta name="msapplication-TileColor" content="#00b9b3">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#00b9b3">

  <!-- Your styles -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700|Merriweather+Sans:300,700,900|Libre+Baskerville:400i,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
