<div class="section__title">
  <div class="module"></div>
  <div class="header-circle__parent">
    <div class="header-circle__quote">
      <div class="header-circle__text">
        <p class="header-circle__text--quote">Sind wir aus unserem Auftrag noch nicht entlassen?</p>
        <p class="header-circle__text--speaker">Sasportas</p>
      </div>
    </div>
  </div> <!-- end circle__parent -->
  <div class="header-jumbotron-link__parent">
    <div class="header-jumbotron-link__text"><a href="#"><h3>Der Auftrag</h3></a></div>
  </div>
</div> <!-- end section__title -->
