  <div class="section__press" id="Presse">
    <div class="row">
      {% assign heading = site.data.nav.navItems | where: "ref", "press" %}
      <h2 class="section__heading section__heading--press">{{ heading[0].title[page.lang] }}</h2>
    </div>
    <div class="row content__press">

      {% assign projects = site.projects | where: "lang", page.lang | sort: "year" | reverse %}

      {% for project in projects %}

      {% assign lang_articles = site.articles | where: "lang", page.lang %}

      {% assign articles = lang_articles | where: "press-ref", project.ref %}

      {% if articles.size > 0 %}

      <div class="row">
        <h3 class="press-list__title">{{ project.title }}</h3>
      </div>

      {% include press-content-list.html %}

      {% endif %}

      {% endfor %}
    </div>
  </div>
