<div class="section__projects" id="Projekte">
  <div class="row">
    {% assign heading = site.data.nav.navItems | where: "ref", "projects" %}
    <h2 class="section__heading">{{ heading[0].title[page.lang] }}</h2>
  </div>
  <div class="row content__projects">

  {% assign projects = site.projects | where: "lang", page.lang | sort: "year" | reverse %}

  {% for project in projects %}

    <div class="row project-card">
      <a href="{{ project.url | relative_url  }}" class="project-card__link">
        <div class="col-8">
          <div class="project-card__img-padding">
            <img src="{{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=1507&h=1507" alt="" class="project-card__img"
            srcset="{{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=488&h=488 488w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=560&h=560 560w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=587&h=587 587w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=636&h=636 636w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=670h=670 670w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=754&h=754 754w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=984&h=984 984w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=1122&h=1122 1122w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=1272&h=1272 1272w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=1456&h=1456 1456w,
                    {{ project.image-url | append: '?fm=jpg&q=50&f=center&fit=fill&'}}w=1507&h=1507 1507w"
            sizes="(max-width: 414px) 100%,
                   (max-width: 737px) 50%,
                   (max-width: 768px) 100%,
                   66,66%">
          </div>
        </div>
        <div class="col-4">
          <div class="project-card__content">
            <h3 class="project-card__title">{{ project.title }}</h3>
            <p class="project-card__meta"><span class="project-card__meta-year">{{ project.year }}</span>–<span class="project-card__meta-location">{{ project.location }}</span></p>
            {{ project.excerpt }}
          </div>
        </div>
      </a>
    </div>

    {% endfor %}

  </div> <!-- end content__projects -->
</div> <!-- end section__projects -->
