<div class="section__projects" id="Projekte">
  <div class="row">
    <h2 class="section__heading">projekte</h2>
  </div>
  <ul class="row content__projects">

  {% assign projects = site.projects | sort: "year" | reverse %}

  {% for project in projects %}

    <li class="row project-card">
      <a href="{{ project.url | relative_url }}" class="project-card__link">
        <div class="col-8">
          {% capture dir %}/assets/images/projects/{{ project.title | replace:' ', '-' | downcase }}/{% endcapture %}
          <img src="{{ project.image | prepend: dir | relative_url}}" alt="" class="project-card__img">
        </div>
        <div class="col-4">
          <div class="project-card__content">
            <h3 class="project-card__title">{{ project.title }}</h3>
            <p class="project-card__meta"><span class="project-card__meta-year">{{ project.year }}</span>–<span class="project-card__meta-location">{{ project.location }}</span></p>
            {{ project.excerpt }}
          </div>
        </div>
      </a>
    </li>

    {% endfor %}
    
  </ul> <!-- end content__projects -->
</div> <!-- end section__projects -->
