<!-- "url": "//images.ctfassets.net/mhi86m0yrn9x/3nCIlsuVKwQysuMcKGuUA4/42ff832e71972f67a08ecea49f0b1c8a/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg", -->

<div class="turbotron">
  <div class="turbotron-slide">
    <div class="turbotron-flex-frame">
      <picture>
        {% capture imagepath %}//images.ctfassets.net/mhi86m0yrn9x/3nCIlsuVKwQysuMcKGuUA4/42ff832e71972f67a08ecea49f0b1c8a/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg{% endcapture%}
        <!-- <source media="(max-aspect-ratio: 6/10)" srcset="{{ imagepath }}-16_9-portrait-640.jpg 640w, {{ imagepath }}-16_9-portrait-750.jpg 750w, {{ imagepath }}-16_9-portrait-1242.jpg 3x" sizes="100%"> -->
        <!-- <source media="(max-aspect-ratio: 3/4)" srcset="{{ imagepath }}-4_3-portrait-1536.jpg 1536w, {{ imagepath }}-4_3-portrait-2024.jpg 2024w" sizes="100%"> -->
        <!-- <source media="(max-aspect-ratio: 4/3)" srcset="{{ imagepath }}-4_3-landscape-800.jpg 800w, {{ imagepath }}-4_3-landscape-2024.jpg 2024w, {{ imagepath }}-4_3-landscape-2732.jpg 2732w" sizes="100%"> -->
        <!-- <source media="(min-aspect-ratio: 10/6)" srcset="{{ imagepath }}-16_9-landscape-1136.jpg 1136w, {{ imagepath }}-16_9-landscape-1334.jpg 1334w, {{ imagepath }}-16_9-landscape-1920.jpg 1920w, {{ imagepath }}-16_9-landscape-2208.jpg 3x, {{ imagepath }}-16_9-landscape-2560.jpg 2560w" sizes="100%"> -->
        <img src="{{ imagepath }}" alt="" draggable="false">
      </picture>
    </div> <!-- end turbotron-flex-frame -->
  </div> <!-- end turbotron-slide -->
</div> <!-- end turbotron -->

<ul class="project-image-gallery my-image-gallery">

  <li class="project-image-gallery__item">
    <div class="project-image-gallery__card">
      <div class="project-image-gallery__image-aspect-container">
        <img class="project-image-gallery__image" src="https://loremflickr.com/400/300">
      </div>
      <div class="project-image-gallery__supporting">
        <span class="project-image-gallery__label">Label für Bild 1</span>
      </div>
    </div>
  </li>

  <li class="project-image-gallery__item">
    <div class="project-image-gallery__card">
      <div class="project-image-gallery__image-aspect-container">
        <img class="project-image-gallery__image" src="https://loremflickr.com/300/700">
      </div>
      <div class="project-image-gallery__supporting">
        <span class="project-image-gallery__label">Label für Bild 2</span>
      </div>
    </div>
  </li>

  <li class="project-image-gallery__item">
    <div class="project-image-gallery__card">
      <div class="project-image-gallery__image-aspect-container">
        <img class="project-image-gallery__image" src="https://loremflickr.com/300/300">
      </div>
      <div class="project-image-gallery__supporting">
        <span class="project-image-gallery__label">Label für Bild 3</span>
      </div>
    </div>
  </li>

  <li class="project-image-gallery__item">
    <div class="project-image-gallery__card">
      <div class="project-image-gallery__image-aspect-container">
        <img class="project-image-gallery__image" src="https://loremflickr.com/600/150">
      </div>
      <div class="project-image-gallery__supporting">
        <span class="project-image-gallery__label">Label für Bild 4</span>
      </div>
    </div>
  </li>

  <li class="project-image-gallery__item">
    <div class="project-image-gallery__card">
      <div class="project-image-gallery__image-aspect-container">
        <img class="project-image-gallery__image" src="https://loremflickr.com/300/300">
      </div>
      <div class="project-image-gallery__supporting">
        <span class="project-image-gallery__label">Label für Bild 5</span>
      </div>
    </div>
  </li>
  ...
</ul>
