  <div class="section__press" id="Presse">
    <div class="row">
      <h2 class="section__heading">presse</h2>
    </div>
    <div class="row content__press">
      <div class="row press-list__title"><h3>Luxus/Liebe</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
      <div class="row press-list__title"><h3>Home-Made</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">H-M - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">H-M - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">H-M - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
      <div class="row press-list__title"><h3>Hamlet dans les ecoles</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">HDLE - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">HDLE - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">HDLE - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
      <div class="row press-list__title"><h3>Italy loves me and I love italy</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">Italy - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">Italy - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">Italy - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
    </div>
  </div>
  <div class="section__contact" id="Kontakt">
    <div class="row">
      <h2 class="section__heading">kontakt</h2>
    </div>
    <div class="row content__contact">
      <div class="contact-form-text">
        <p>Hier ein Kontaktformular-Text!</p>
        <p>Wir beantworten alle Anfragen</p>
        <p>Sofort!</p>
        <p><strong>VERSPROCHEN.</strong></p>
      </div>
      <div class="contact-form-form">
        <form class="contact-form" id="id-contact-form" method="POST" action="https://www.formingo.co/submit/john@example.com">
          <input class="contact-form-input__text" placeholder="Name" form="id-contact-form" type="text" name="full_name">
          <input class="contact-form-input__text" placeholder="E-Mail" form="id-contact-form" type="email" name="__replyto">
          <textarea class="contact-form-input__textarea" placeholder="Anfrage" form="id-contact-form" type="text" name="message"></textarea>

          <input class="contact-form-input__submit" type="submit" value="Senden">
        </form>
      </div> <!-- end col-6 mit form -->
    </div> <!-- end row -->
  </div> <!-- end section__contact -->
