  <div class="section__projects" id="Projekte">
    <div class="row">
      <h2 class="col-12">projekte</h2>
    </div>
    <ul class="row content__projects">
      <li class="row project-card">
        <a href="/projects.html" class="project-card__link">
          <div class="col-8">
            <img src="http://lorempixel.com/480/480/nightlife" alt="" class="project-card__img">
          </div>
          <div class="col-4">
            <div class="project-card__content">
              <h3 class="project-card__title">Luxus / Liebe</h3>
              <p class="project-card__meta"><span class="project-card__meta-year">2017</span>–<span class="project-card__meta-location">Theatre de Vidy, Lausanne</span></p>
              <p class="project-card__text">Project-Card01 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate cum nobis natus molestias</p>
            </div>
          </div>
        </a>
      </li>
      <li class="row project-card">
        <a href="" class="project-card__link">
          <div class="col-8">
            <img src="http://lorempixel.com/480/480/nightlife" alt="" class="project-card__img">
          </div>
          <div class="col-4">
            <div class="project-card__content">
              <h3 class="project-card__title">Home-Made</h3>
              <p class="project-card__meta"><span class="project-card__meta-year">2015</span>–<span class="project-card__meta-location">Theatre de Vidy, Lausanne</span></p>
              <p class="project-card__text">Project-Card02 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate cum nobis natus molestias</p>
            </div>
          </div>
        </a>
      </li>
      <li class="row project-card">
        <a href="" class="project-card__link">
          <div class="col-8">
            <img src="http://lorempixel.com/480/480/nightlife" alt="" class="project-card__img">
          </div>
          <div class="col-4">
            <div class="project-card__content">
              <h3 class="project-card__title">Hamlet dans les ecole</h3>
              <p class="project-card__meta"><span class="project-card__meta-year">2014</span>–<span class="project-card__meta-location">Theatre de Vidy, Lausanne</span></p>
              <p class="project-card__text">Project-Card03 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate cum nobis natus molestias</p>
            </div>
          </div>
        </a>
      </li>
      <li class="row project-card">
        <a href="" class="project-card__link">
          <div class="col-8">
            <img src="http://lorempixel.com/480/480/nightlife" alt="" class="project-card__img">
          </div>
          <div class="col-4">
            <div class="project-card__content">
              <h3 class="project-card__title">I love italy and italy loves me</h3>
              <p class="project-card__meta"><span class="project-card__meta-year">2013</span>–<span class="project-card__meta-location">BAT, Berlin</span></p>
              <p class="project-card__text">Project-Card04 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate cum nobis natus molestias</p>
            </div>
          </div>
        </a>
      </li>
      <li class="row project-card">
        <a href="" class="project-card__link">
          <div class="col-8">
            <img src="http://lorempixel.com/480/480/nightlife" alt="" class="project-card__img">
          </div>
          <div class="col-4">
            <div class="project-card__content">
              <h3 class="project-card__title">Der Auftrag</h3>
              <p class="project-card__meta"><span class="project-card__meta-year">2012</span>–<span class="project-card__meta-location">BAT, Berlin</span></p>
              <p class="project-card__text">Project-Card05 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate cum nobis natus molestias</p>
            </div>
          </div>
        </a>
      </li>
    </ul> <!-- end content__projects -->
  </div> <!-- end section__projects -->
  <div class="section__team" id="Team">
    <div class="row">
      <h2 class="col-12">team</h2>
    </div>
    <ul class="row content__team">
      <li class="team-card">
        <a href="/team.html#Magali-Tosato" class="team-card__link">
          <div class="team-card__img">
            <img src="http://lorempixel.com/400/400/cats" alt="">
          </div>
          <div class="team-card__content">
            <h4 class="team-card__title">Magali Tosato</h4>
            <h5>Regie</h5>
            <div class="team-card__text">
              <p>Team Card 01 – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-card">
        <a href="/team.html#Lydia-Dimitrow" class="team-card__link">
          <div class="team-card__img">
            <img src="http://lorempixel.com/400/400/cats" alt="">
          </div>
          <div class="team-card__content">
            <h4 class="team-card__title">Lydia Dimitrow</h4>
            <h5>Dramaturgie</h5>
            <div class="team-card__text">
              <p>Team Card 01 – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-card">
        <a href="/team.html#Franziska-Keune" class="team-card__link">
          <div class="team-card__img">
            <img src="http://lorempixel.com/400/400/cats" alt="">
          </div>
          <div class="team-card__content">
            <h4 class="team-card__title">Franziska Keune</h4>
            <h5>Bühnenbild</h5>
            <div class="team-card__text">
              <p>Team Card 01 – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-card">
        <a href="/team.html#Jakob-Klaffs" class="team-card__link">
          <div class="team-card__img">
            <img src="http://lorempixel.com/400/400/cats" alt="">
          </div>
          <div class="team-card__content">
            <h4 class="team-card__title">Jakob Klaffs</h4>
            <h5>Video</h5>
            <div class="team-card__text">
              <p>Team Card 01 – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut, incidunt dolores sit laborum cumque vitae eum magnam, aliquam dolorum cupiditate</p>
            </div>
          </div>
        </a>
      </li>
    </ul> <!-- end content__team -->
  </div> <!-- end section__team -->
  <div class="section__press" id="Presse">
    <div class="row">
      <h2 class="col-12">presse</h2>
    </div>
    <div class="row content__press">
      <div class="row press-list__title"><h3>Luxus/Liebe</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">L/L - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
      <div class="row press-list__title"><h3>Home-Made</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">H-M - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">H-M - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">H-M - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
      <div class="row press-list__title"><h3>Hamlet dans les ecoles</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">HDLE - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">HDLE - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">HDLE - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
      <div class="row press-list__title"><h3>Italy loves me and I love italy</h3></div>
      <ul class="row press-list">
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">Italy - La jeune metteur en scène Magali Tosato ose le grand saut à Vidy</h6>
            <p>
              <span class="press-article-link__author">Gérald Cordonier</span><br>
              <span class="press-article-link__date">14.09.2015</span> –
              <span class="press-article-link__press">24heures</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">Italy - Un produit de terroir suisse</h6>
            <p>
              <span class="press-article-link__author">Jonathan Hofer</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">L'Atelier critique</span>
            </p>
          </a>
        </li>
        <li class="press-article">
          <a href="/presse-artikel.html" class="press-article-link">
            <h6 class="press-article-link__title">Italy - Lorem ipsum dolor sit amet</h6>
            <p>
              <span class="press-article-link__author">incidunt dolore</span><br>
              <span class="press-article-link__date">24.09.2015</span> –
              <span class="press-article-link__press">dolorum cupiditate</span>
            </p>
          </a>
        </li>
      </ul> <!-- end press-list -->
    </div>
  </div>
  <div class="section__contact" id="Kontakt">
    <div class="row">
      <h2 class="col-12">kontakt</h2>
    </div>
    <div class="row content__contact">
      <div class="contact-form-text">
        <p>Hier ein Kontaktformular-Text!</p>
        <p>Wir beantworten alle Anfragen</p>
        <p>Sofort!</p>
        <p><strong>VERSPROCHEN.</strong></p>
      </div>
      <div class="contact-form-form">
        <form class="contact-form" id="id-contact-form" method="POST" action="https://www.formingo.co/submit/john@example.com">
          <input class="contact-form-input__text" placeholder="Name" form="id-contact-form" type="text" name="full_name">
          <input class="contact-form-input__text" placeholder="E-Mail" form="id-contact-form" type="email" name="__replyto">
          <textarea class="contact-form-input__textarea" placeholder="Anfrage" form="id-contact-form" type="text" name="message"></textarea>

          <input class="contact-form-input__submit" type="submit" value="Senden">
        </form>
      </div> <!-- end col-6 mit form -->
    </div> <!-- end row -->
  </div> <!-- end section__contact -->
