<div class="section__team" id="Team">
  <div class="row">
    {% assign heading = site.data.nav.navItems | where: "ref", "members" %}
    <h2 class="section__heading">{{ heading[0].title[page.lang] }}</h2>
  </div>
  <div class="row content__team">

  {% assign members = site.members | where: "lang", page.lang %}
  {% for member in members %}

  {% capture memberpath %}{{ member.image | prepend: "/assets/images/team/" }}_home-{% endcapture %}
  {% assign picWidth = '216 260 343 432 520 527 686 1054' | split: ' ' %}
  {% capture srcsetString %}
    {% for item in picWidth %}
      {% if forloop.last %}
        {% capture appendix %}{{ item }}.jpg {{ item }}w{% endcapture %}
      {% else %}
        {% capture appendix %}{{ item }}.jpg {{ item }}w,{% endcapture %}
      {% endif %}
      {{ memberpath | append: appendix }}
    {% endfor %}
  {% endcapture %}

    <div class="team-card">
      <a href="{{ site.url }}/{% if page.lang == "fr" %}fr/{% endif %}team#{{ member.title | replace:' ', '-' }}" class="team-card__link">
        <div class="team-card__img">
          <img src="{{ memberpath | append: "1054.jpg" }}" alt="" srcset="{{ srcsetString }}">
        </div>
        <div class="team-card__content">
          <div class="team-card__title">{{ member.title }}</div>
          <div class="team-card__ut">{{ member.role }}</div>
          <div class="team-card__text">
            {{ member.excerpt }}
          </div>
        </div>
      </a>
    </div>

    {% endfor %}

  </div> <!-- end content__team -->
</div> <!-- end section__team -->
