<div class="turbotron-flex-frame">
    <picture>
      <source media="(max-aspect-ratio: 6/10)" srcset="{{ project.image-url | append: '?f=top&fit=fill&'}}w=640&h=1137 640w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=750&h=1333 750w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=1242&h=2208 3x" sizes="100%">
      <source media="(max-aspect-ratio: 3/4)" srcset="{{ project.image-url | append: '?f=top&fit=fill&'}}w=1536&h=2047 1536w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=2024&h=2698 2024w" sizes="100%">
      <source media="(max-aspect-ratio: 4/3)" srcset="{{ project.image-url | append: '?f=top&fit=fill&'}}w=800&h=600 800w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=2024&h=1518 2024w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=2732&h=2049 2732w" sizes="100%">
      <source media="(min-aspect-ratio: 10/6)" srcset="{{ project.image-url | append: '?f=top&fit=fill&'}}w=1136&h=639 1136w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=1334&h=750 1334w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=1920&h=1080 1920w, {{ project.image-url | append: '?f=top&fit=fill&'}}w=2208&h=1242 3x, {{ project.image-url | append: '?f=top&fit=fill&'}}w=2560&h=1440 2560w" sizes="100%">
      <img src="{{ project.image-url | append: '?f=top&fit=fill&'}}w=1920&h=1080" alt="" draggable="false">
    </picture>
  </div>