.header__menu-btn { // box shadow solution
  padding-left: 2rem;
  position: relative;

  &::before {
    background: $header-text-color;
    box-shadow: 0 6 * $to-rems + rem 0 0 $header-text-color, 0 12 * $to-rems + rem 0 0 $header-text-color;
    content: '';
    height: 2 * $to-rems + rem;
    left: 0;
    position: absolute;
    top: 6 * $to-rems + rem;
    width: 1.25rem;
  }
}
