.contact-form {
  &-text,
  &-form {
    @include cols($colspan: 1, $total-cols: 1);

    @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
      @include cols($colspan: 6);
    }

    padding: 20 * $to-rems;
  }

  &-input {

    &__text,
    &__textarea {
      @extend %text;
      border: {
        color: $black;
        radius: 4px;
        style: none;
        width: 1px;
      }
      margin: 16 * $to-rems 0;
      padding: 12 * $to-rems;
      width: 100%;
    }

    &__textarea {
      height: 256 * $to-rems;
      resize: none;
    }

    &__submit {
      background-color: $color-bg-section-contact;
      border: {
        color: $white;
        radius: 4px;
        style: solid;
        width: 1px;
      }
      color: $white;
      cursor: pointer;
      font: {
        family: $header-font-family;
        size: 16 * $to-rems;
        weight: $regular;
      }
      padding: 8 * $to-rems 16 * $to-rems;
    }

    &__submit:hover {
      background-color: $white;
      color: $color-bg-section-contact;
    }
  }
}
