.content {
  &__header {
    display: flex;
    justify-content: $default-justify;
    margin: $default-row-margin;
    padding: 0 16 * $to-rems + rem;
    width: 100%;
  }

  &__info {
    padding: 0 16 * $to-rems + rem;
  }

  &__footer {
    padding: 0 20 * $to-rems + rem;
  }

  &__project-item,
  &__press-item {
    margin-bottom: 64 * $to-rems + rem;
  }
}
