.drawer {
  background-color: $highlight-color03;
  display: block;
  padding: 54 * $to-rems 16 * $to-rems 18 * $to-rems;
  position: fixed;
  width: 80%;

  &__menu {

    &-item {
      display: block;
      margin: 9 * $to-rems 0;
    }

  }
}
