.footer-list {
  padding: 0;

  &__container {
    @include cols($colspan: 1, $total-cols: 1);

    max-width: 100%;
    padding-right: 2rem;

    @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
      @include cols($colspan: 1, $total-cols: 2);
    }

    @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
      @include cols($colspan: 1, $total-cols: 4);
    }
  }

  &-title {
    color: $visited-link-color;
    margin-bottom: 0;
    padding: 8 * $to-rems + rem 0;
  }

  &-item {
    color: #777;
        cursor: pointer;
    display: block;
    font: {
      family: $base-font-family;
      size: 14 * $to-rems + rem;
      weight: $regular;
    }

    letter-spacing: .05rem;
    padding: 2 * $to-rems + rem 0;

    &:hover {
      color: $link-color;
    }

    a {
      cursor: pointer;
    }
  }
}

.footer-copyright-link {
  justify-content: space-between;
  padding: 72 * $to-rems + rem 20 * $to-rems + rem 0;

  h6 {
    color: $visited-link-color;

  }
}
