.footer-list {
  &-title {
    padding: 16 * $to-rems 0;
  }

  &-item {
    color: $grey;
    font: {
      family: $header-font-family;
      size: 16 * $to-rems;
      weight: $regular;
    }

    letter-spacing: .0rem;
    padding: 8 * $to-rems 0;

    &:hover {
      color: $black;
    }
  }
}

.footer-copyright-link {
  justify-content: space-between;
  padding: 72 * $to-rems 20 * $to-rems 0;
}
