.header-jumbotron-link {
  &__parent {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    margin-bottom: -100vh;
    pointer-events: none;
    position: relative;
  }

  &__text {
    padding: 32 * $to-rems + rem 64 * $to-rems + rem;
    pointer-events: all;

    a {
      border-bottom: 8 * $to-rems + rem solid $white;
      cursor: pointer;

      h3 {
        color: $white;
        text-shadow: 0 3px 0 $shadow-grey;
      }

      &:hover {
        border-bottom: 8 * $to-rems + rem solid $link-color;

        h3 {
          color: $link-color;
        }
      }
    }
  }
}
