header {
  background-color: $header-bg-color;
  border-bottom: 1px solid $visited-link-color;
  height: 60 * $to-rems + rem;
  padding-top: 20 * $to-rems + rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header__switch-lang-btn {
  cursor: pointer;
  display: inline;
}

.header__switch-lang-span {
  opacity: 1;
  will-change: opacity;

  &--active {
    opacity: .75;
  }
}

.header__menu-top {
  margin-left: auto;
  margin-right: 0;
  padding-right: 2rem;
}

.header__logo {
  display: inherit;
}

.header__menu {

  &-item {
    display: none;
    margin-right: 48 * $to-rems + rem;

    @media screen and (min-width: $breakpoint-tablet-landscape + 0px) {
      display: inline;
    }

    &--selected {
      border-bottom: 8 * $to-rems + rem solid $header-text-color;
      padding-bottom: 6.4 * $to-rems + rem;
    }
  }
}
