.header-jumbotron-link {
  &__parent {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    margin-bottom: -100vh;
    position: relative;
    top: -100vh;
  }

  &__text {
    padding: 32 * $to-rems 64 * $to-rems;

    a {
      border-bottom: 8 * $to-rems solid $white;
      cursor: pointer;

      h3 {
        color: $white;
        text-shadow: 0 3px 0px $shadow-grey;
      }

      &:hover {
        border-bottom: 8 * $to-rems solid $visited-link-color;

        h3 {
          color: $visited-link-color;
        }
      }
    }
  }
}
