.press-list {
  @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
    justify-content: flex-start;
  }

  justify-content: center;
  margin-bottom: 40 * $to-rems + rem;
  padding: 0;

  h3 {
    min-height: 64 * $to-rems + rem;

  }

  li {
    background-color: $white;
    display: inline;
  }

  &__title {
    color: $color-font-section-press;
    padding: 0 20 * $to-rems + rem;

    &--home {
      min-height: 64 * $to-rems + rem;
      padding: 0 20 * $to-rems + rem;
    }
  }
}

.press-article {
  @include cols($colspan: 1, $total-cols: 1);

  @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
    flex: 1 0 50%;
    max-width: 50%;
  }

  @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
    @include cols($colspan: 4);
    max-width: 33%;
  }

  @media screen and (min-width: $breakpoint-tablet-landscape + 0px) {
    @include cols($colspan: 3);
    max-width: 25%;
  }

  max-width: 300 * $to-rems + rem;

  &-link {
    background-color: $white;
    box-shadow: 0 7px 12px $shadow-grey;
    display: inline-block;
    margin: 20 * $to-rems + rem;
    padding: 16 * $to-rems + rem;

    &__title {
      color: $text-color;
    }

    &:hover &__title {
      color: $link-color;
    }

    &__meta {
      justify-content: flex-end;
      padding-right: 20 * $to-rems + rem;
    }

    p {
      font-size: 12 * $to-rems + rem;
      letter-spacing: 3 * $to-rems + rem;
    }

    &__author {
      font-weight: $fw-bold;
    }
  }
}
