// .project-card__img in figures.scss
.project-card {
  align-items: center;
  margin-bottom: 64 * $to-rems + rem;
  padding: 20 * $to-rems + rem;

  &__content {
    padding: 48 * $to-rems + rem 0 0;

    @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
      padding: 0 0 0 20 * $to-rems + rem;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
      padding: 48 * $to-rems + rem 0 0;
    }

    @media screen and (min-width: $breakpoint-tablet-landscape + 0px) {
      padding: 0 0 0 20 * $to-rems + rem;
    }
  }

  &__img {
    border-radius: 50%;
    height: auto;
    width: 100%;

    @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
      padding: 0 20 * $to-rems + rem 0 0;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
      padding: 0;
    }

    @media screen and (min-width: $breakpoint-tablet-landscape + 0px) {
      padding: 0 20 * $to-rems + rem 0 0;
    }
  }

  &__link {
    align-items: flex-end;
    display: inherit;
    flex-wrap: inherit;

    @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
      align-items: flex-start;
    }

    @media screen and (min-width: $breakpoint-tablet-landscape + 0px) {
      align-items: flex-end;
    }
  }

  &__meta {
    font-weight: $fw-bold;
    margin: 16 * $to-rems + rem 0 0;
    text-align: right;

    @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
      margin: 16 * $to-rems + rem 0 32 * $to-rems + rem;
    }

    span {
      letter-spacing: 0;
      padding: 0 .5 * $to-rems + rem;
    }
  }

  &__title {
    font-size: 32 * $to-rems + rem;
    line-height: 32 * $to-rems + rem;

    @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
      font-size: 64 * $to-rems + rem;
      line-height: 64 * $to-rems + rem;
    }
  }
}
