
.project-image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    list-style: none;

    &__item {
      @include cols($colspan: 1, $total-cols: 2);
      display: flex;
      align-items: stretch;

      @media screen and (min-width: $breakpoint-tablet-portrait + 0px) {
        @include cols($colspan: 1, $total-cols: 4);
      }
    }

    &__card {
      background: #0ff;
      margin: 0.25rem;
      padding: 0.5rem;
      width: 100%;
    }

    &__image {
      border-radius: 3px;
      max-height: 100%;
      max-width: 100%;
    }

    &__image-aspect-container {
      background: red;
      height: 0;
      overflow: hidden;
      padding-top: 100%;
      position: relative;
    }

    &__image-container {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
}
