%section {
  @include section();
}

.section {
  &__title {
    @include section(
      $padding-top: 0,
      $add-padding: 0,
      $padding-bottom: 0
    );
    background-color: $color-bg-section-title;
  }

  &__heading {
    @include cols(12);
    margin: 0;
    padding: 40 * $to-rems + rem 20 * $to-rems + rem;
  }

  &__info {
    @include section($add-padding: 124 * $to-rems);
    background-color: $color-bg-section-info;
  }

  &__projects {
    @extend %section;
    background-color: $color-bg-section-projects;
  }

  &__team {
    @extend %section;
    background-color: $color-bg-section-team;
  }

  &__press {
    @extend %section;
    background-color: $color-bg-section-press;
  }

  &__contact {
    @extend %section;
    background-color: $color-bg-section-contact;
  }

  &__footer {
    background-color: $color-bg-section-footer;
    padding-bottom: 48 * $to-rems + rem;
    padding-top: $default-section-padding-top + $default-add-padding + rem;
    width: 100%;
  }

  &__neutral {
    @include section($add-padding: 124 * $to-rems);
    background-color: $color-bg-section-neutral;
  }
}
