* {
  box-sizing: border-box;
}

html {
  background-color: $link-color;
}

body {
  background-color: $white;
  min-height: 100vh;
  position: relative;
}

a {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
}
