.page-team {
  .section__team {
    .team-member {
      padding-top: 80 * $to-rems;
    }

    .team-member__title {
      padding: 20 * $to-rems;
    }

    &-vita {
      padding: 20 * $to-rems;

      ul {
        li {
          padding: 8 * $to-rems 0;
        }
      }
    }

    &-img {
      min-width: 100%;
      padding: 26 * $to-rems 20 * $to-rems;
    }
  }
}
