.section__team {
  padding-top: $header-height * $to-rems + rem;

  .team-member {
    padding-top: 48 * $to-rems + rem;
  }

  .team-member__title {
    padding: 20 * $to-rems + rem;
  }

  &-vita {
    padding: 20 * $to-rems + rem;

    ul {
      li {
        padding: 8 * $to-rems + rem 0;
      }
    }
  }

  &-img {
    border-radius: 2%;
    min-width: 100%;
    padding: 26 * $to-rems + rem 20 * $to-rems + rem;
  }
}
