// =====================
// Font variables
// =====================

// Font weights
$light: 300;
$regular: 400;
$fw-bold: 700;
$fw-black: 900;

// Base Font
$base-font-family: 'Merriweather Sans', sans-serif;
$base-font-weight: $light;
$base-font-size: 13 * $to-rems + rem;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-family: 'Montserrat', sans-serif;
$header-font-weight: $fw-bold;
$header-font-size: 13 * $to-rems + rem;
$header-line-height: 1.4;

$header-alt-font-family: 'Montserrat Alternates', sans-serif;

// Quotes
$quote-font-family: 'Libre Baskerville', serif;
