// =====================
// Grid variables
// =====================

$default-colspan: 1;
$default-justify: flex-start;
$default-gutter: 16;
$default-margin-bottom: 0;
$default-margin-top: 0;
$default-padding: 20 * $to-rems;
$default-row-margin: 0 auto;
$default-row-padding: 20 * $to-rems + rem 0;
$default-section-padding-top: 44 * $to-rems;
$default-add-padding: 0;
$default-section-padding-bottom: 192 * $to-rems;
$default-total-cols: 12;
$default-width: 1200;

$header-height: 60;
