// =====================
// Media variables
// =====================

$breakpoint-phone-portrait: 320;
$breakpoint-phone-landscape: 568;



$breakpoint-tablet-portrait: 768;
$breakpoint-tablet-landscape: 1024;

$breakpoint-desktop-big: 1200;
