---
# This is YAML Front Matter
---

// Modules and Variables
@import 'partials/base';

// Partials
@import 'partials/reset';
@import 'partials/standards';
@import 'partials/grid_classes';

@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/header';
@import 'partials/drawer';
@import 'partials/header-circle';
@import 'partials/header-jumbotron-link';
@import 'partials/sections';
@import 'partials/contents';
@import 'partials/project-card';
@import 'partials/team-card';
@import 'partials/press-list';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/projects-content';
@import 'partials/team-content';

@import 'partials/syntax';
@import 'partials/media';
