---
layout: default
---
<div class="section__team">
  <div class="row">
    <h1 class="section__heading">team</h1>
  </div>
  {% for member in site.members %}
  <div class="row team-member" id="{{ member.title }}">
    <div class="row"><h4 class="team-member__title">{{ member.title }}</h4></div>
    <div class="row">
      <div class="col-5"><img class="section__team-img" src="{{ member.image | prepend: "/assets/images/" | relative_url}}" alt=""></div>
      <div class="col-7 section__team-vita">
        {{ member.content }}
      </div>
    </div>
  </div> <!-- end team-member -->
  {% endfor %}
</div>
