---
layout: default
---
<div class="section__title">
  <div class="turbotron">
    <div class="turbotron-slide">
      <div class="header-circle__parent">
        <div class="header-circle__quote">
          <div class="header-circle__text">
            <p class="header-circle__text--quote"><strong>{{ page.title }}</strong>{% if page.subtitle %}<br>{{ page.subtitle }}{% endif %}</p>
          </div>
        </div>
      </div> <!-- end circle__parent -->
      <div class="turbotron-flex-frame">
        <picture>
          <source media="(max-aspect-ratio: 6/10)" srcset="{{ project.image-url | append: '?f=top&fit=fill&' }}w=640&h=1137 640w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=750&h=1333 750w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=1242&h=2208 3x" sizes="100%">
          <source media="(max-aspect-ratio: 3/4)" srcset="{{ page.image-url | append: '?f=top&fit=fill&' }}w=1536&h=2047 1536w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=2024&h=2698 2024w" sizes="100%">
          <source media="(max-aspect-ratio: 4/3)" srcset="{{ page.image-url | append: '?f=top&fit=fill&' }}w=800&h=600 800w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=2024&h=1518 2024w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=2732&h=2049 2732w" sizes="100%">
          <source media="(min-aspect-ratio: 10/6)" srcset="{{ page.image-url | append: '?f=top&fit=fill&' }}w=1136&h=639 1136w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=1334&h=750 1334w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=1920&h=1080 1920w, {{ page.image-url | append: '?f=top&fit=fill&' }}w=2208&h=1242 3x, {{ page.image-url | append: '?f=top&fit=fill&' }}w=2560&h=1440 2560w" sizes="100%">
          <img src="{{ page.image-url | append: '?f=top&fit=fill&' }}w=1920&h=1080" alt="" draggable="false">
        </picture>
      </div> <!-- end turbotron-flex-frame -->
    </div> <!-- end turbotron-slide -->
  </div> <!-- end turbotron -->
</div> <!-- end section__title -->

<div class="section__neutral">
  <div class="row">
    <div class="offset-1 col-10 content__project-item">

      {{ content }}

    </div>
  </div>
</div> <!-- end section__neutral -->

{% assign lang_articles = site.articles | where: "lang", page.lang %}

{% assign articles = lang_articles | where: "press-ref", page.ref %}

{% if articles.size > 0 %}

<div class="section__press in-project">
  <div class="row">
    <h3 class="press-list__title">Presse zu „{{ page.title }}“:</h3>
  </div>

  {% include press-content-list.html %}

</div> <!-- end section__press -->

{% endif %}
